@font-face {
    font-family: "DS-Digital-Bold";
    src: url('DS-Digital-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PangMenZhengDao";
    src: url('PangMenZhengDaoBiaoTiTi-1.ttf');
    font-weight: normal;
    font-style: normal;
}